@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto";
  left: 0;
}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

body {
  font-family: "Avenir";
  font-weight: normal;
  font-size: 24px;
  background-color: white;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
}

.topnav {
  overflow: hidden;
  font-style: normal;
  margin-top: 2%;
}

img.logo {
  width: 200px;
  margin-left: 85px;
  margin-top: 2%;
}

.topnav a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 13px;
  text-decoration: none;
  font-size: 18px;
  font-weight: normal;
}

.topnav .icon {
  display: none;
}

select#courses {
  border: 0;
  font-size: 18px;
  font-weight: 400;
  color: #101010bf;
  font-style: normal;
  background-color: white;
}

img.image-preview {
  width: 100%;
  position: relative;
  bottom: 4%;
  left: 4%;
}

img.image-previewmobile {
  display: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10% 3%;
  gap: 20px;
}

button.check-availability {
  padding: 15px 25px;
  background-color: #00abae;
  border: 0;
  margin: 20px 0 20px 0;
  color: white;
  width: 324px;
  height: 69px;
  border-radius: 6px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.playvedeo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

p#playP {
  margin: 50px 18px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #575757;
}

img.play {
  width: 66px;
  height: 66px;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: matrix(1, 0, 0, -1, 0, 0);
          transform: matrix(1, 0, 0, -1, 0, 0);
  padding: 15px;
}

div#playVedeoDiv {
  border: 3px solid #00abae;
  border-radius: 50%;
  padding: 8px 2px 5px 11px;
  height: 100%;
}

h1.firstHeading {
  margin-top: 150px;
}

.internalDiv {
  border: 3px solid rgba(0, 171, 174, 0.3);
  border-radius: 50%;
  padding: 14px;
  height: 92%;
  width: 44%;
}

section.section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.section1Div1 {
  margin-top: 100px;
}

.section1Div2 {
  display: block;
  display: block;
  width: 35%;
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  border-radius: 25px;
  border-bottom-right-radius: 160px;
}

h1.heading1 {
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 110px;
  text-align: start;
  margin: 0 0 0 25px;
}

p.access.to.mentor {
  color: #00abae;
  text-align: start;
  margin: 0 0 0 25px;
  font-family: roboto;
  font-style: normal;
  font-weight: 800;
  font-size: 31px;
  line-height: 42px;
}

img.client-logo {
  width: 45%;
}

img.company-img {
  width: 100px;
}

img.company-img-star {
  width: 42%;
}

.company-logo2 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.company-logo1,
.company-logo2,
.company-logo3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.button1 {
  border: 0;
  background-color: white;
  border-radius: 10px;
  margin: 8px;
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  width: 210px;
  height: 87px;
  border-radius: 6px;
}

/*******************Section 2 ********************/
section.section2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 95%;
  background-color: #f1f1f1;
  border-top-right-radius: 90px;
  margin: 4% 0 10% 0;
}

.section2Div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imgPreviewImage {
  width: 40%;
  /* background-color: black; */
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  border-radius: 25px;
  border-radius: 15px;
  border-bottom-left-radius: 127px;
}

img.imgPreview {
  width: 100%;
  position: relative;
  bottom: 4%;
  border-radius: 15px;
}

.previewImg {
  padding: 35px;
  background: white;
  border-radius: 25px;
  border-bottom-left-radius: 127px;
  position: relative;
  bottom: 5%;
  left: 4%;
}

img.circleElement {
  margin: 20px 0 50px 0;
}

.section2Div2 {
  font-size: 15px;
}

h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 56px;
  text-align: center;
  margin: 40px 0 50px;
}

p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}

p#questionsAnswer {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5%;
}

img.circle2 {
  position: relative;
  bottom: 30px;
  left: 80vw;
}

/*****************section 3******************/
.section3Div2 {
  width: 50%;
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  border-radius: 25px;
  border-bottom-right-radius: 160px;
}

img.section3heroimg {
  width: 100%;
  position: relative;
  bottom: 4%;
  left: 4%;
}

section.section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
  margin: 0 4% 5%;
}

.section3Div1 {
  font-size: 18px;
  width: 40%;
}

img.section3heroimgmobile {
  display: none;
}

button#questionsAnswer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  padding: 15px;
  font-size: 18px;
  background-color: white;
  margin-top: 10px;
}

/***********section4 *****************/
section.section4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 100%;
  background-color: #f1f1f1;
  border-top-left-radius: 100px;
  padding: 25px;
}

img#section4img {
  width: 30%;
}

p#section4P {
  padding: 35px;
}

.company-Logo {
  width: 670px;
}

span#companyName {
  color: #00abae;
  font-weight: bold;
}

h2#heading24\/7 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 39px;
  line-height: 56px;
  color: #00abae;
}

.section4Div1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

img.customercareImg {
  width: 100%;
}

.supportDiv {
  width: 85%;
  margin-top: 1%;
  position: relative;
  border-width: 2px;
  border-style: solid;
  border-color: #00abae;
  -o-border-image: initial;
     border-image: initial;
  border-radius: 25px;
  margin: 20px;
}

.supportDiv1 {
  width: 100%;
  position: relative;
  bottom: 5%;
  left: 5%;
}

.webDEv24\/7 {
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 20px;
  height: 530px;
}

/****************** section 5 ******************/
.section5DivTop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section5DivTop2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* grid-template-columns: repeat(2, 1fr); */
  width: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border: 0;
  padding: 0;
  gap: 20px;
}

.section5paragraph2 {
  width: 60%;
}

.studyBorder {
  width: 70%;
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  border-radius: 25px;
  border-bottom-right-radius: 160px;
}

img.section5HeroImg {
  width: 100%;
  position: relative;
  bottom: 4%;
  left: 4%;
}

.section5Div1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

img#section5Img {
  width: 50%;
}

h1#section5H1 {
  padding: 40px;
  font-size: 30px;
}

h1#para11 {
  text-align: left;
  margin-left: 25px;
}

.section5Div2 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  width: 44%;
  width: 44%;
  font-size: 18px;
  /* border: 1px solid #c7c7c7; */
  border-radius: 20px;
  padding: 40px;
  background: #ffffff;
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  border-radius: 20px;
}

div#section5Div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section5Div3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img#userImg {
  width: 303px;
  height: 303px;
}

h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 130.5%;
  margin: 25px;
}

p#namePara {
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #929c9e;
  margin: 25px;
}

p#section5Div5para {
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #000000;
  padding: 10px 30px;
}

p#Insidesection5paragraph2 {
  font-size: 16px;
  line-height: 32px;
  color: #575757;
  text-align: left;
  margin-left: 30px;
}

p#insideParagraph {
  color: gray;
  text-align: left;
  margin-left: 30px;
}

span#headingInsidepara {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #575757;
}

.webDEv {
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  background-color: #f9f9f9;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
}

ul.webDev {
  color: #929c9e;
}

p#webHeading {
  color: #929c9e;
}

li {
  text-align: left;
  margin: 30px 115px;
}

button.learnMore {
  width: 235px;
  height: 69px;
  background-color: #00abae;
  border: 0;
  margin: 8px 0px 30px;
  color: white;
}

.web {
  width: 98%;
  /* background-color: black; */
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  border-radius: 25px;
}

.web1 {
  width: 98%;
  /* background-color: black; */
  border: 2px solid #00abae;
  margin-top: 1%;
  position: relative;
  margin-left: 25%;
  border-radius: 25px;
}

.image12 {
  width: 100%;
  margin-left: 8%;
  margin-bottom: 7%;
  position: relative;
  bottom: 4%;
}

.image121 {
  width: 100%;
  right: 8%;
  /* margin-bottom: 7%; */
  position: relative;
  bottom: 4%;
  margin-right: 8%;
  float: right;
}

section.courses {
  display: -ms-grid;
  display: grid;
  font-size: 16px;
  width: 90%;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  margin: auto;
}

/*******************section 6 **************************/
.section6Div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 90px 0 90px;
}

img#studentportfolio {
  width: 100%;
  -o-object-fit: revert;
     object-fit: revert;
}

a#studentlink {
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #575757;
  text-decoration: none;
}

.skills {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  padding: 0 120px;
}

.skills1 {
  background-color: #fafafa;
  padding: 20px;
  background: #fafafa;
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  border-radius: 12px;
  width: 95%;
}

img#skillsneeded {
  width: 100%;
}

p#Name {
  color: #00abae;
}

span#color {
  color: #00abae;
}

.section6Div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  padding: 0 120px;
}

img#alumini {
  width: 18%;
  border: 1px solid whitesmoke;
  margin: auto;
}

img.eligibilityImg {
  width: 80%;
}

img.freecounciling {
  width: 100%;
}

.alumini {
  width: 14%;
}

h2#aluminiName {
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #00abae;
}

p#job {
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #575757;
}

img#alumini1 {
  width: 100%;
  border: 14px solid #00abae;
  border-radius: 50%;
}

div#AluminiImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img#logo {
  width: 70px;
  height: 80px;
  position: relative;
  bottom: 45px;
  left: -70px;
}

/***************** Section 7 **************/
img.freecouncilingMobile {
  display: none;
}

img.women {
  width: 630px;
  height: 670px;
}

p#section7Div1p {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
}

p#section7P {
  font-size: 1vw;
}

p#highSchool {
  color: #000000;
  text-align: initial;
  margin: 100px 0px 0px 0px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 63px;
}

div#eligibility {
  background-color: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #f4f4f4;
  -webkit-box-shadow: 0px 19px 33px #6f6d7157;
          box-shadow: 0px 19px 33px #6f6d7157;
  border-radius: 25px;
  margin: 70px;
}

img#eligibilityImg {
  width: 35%;
  display: none;
}

img#eligibilityImgDesk {
  width: 35%;
}

button.check-availabilityopposite {
  background-color: white;
  color: #00abae;
  border: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: bolder;
  font-size: 18px;
  line-height: 21px;
  padding: 10px 20px;
  margin: 5%;
  width: 280px;
  height: 69px;
  background: #ffffff;
  border-radius: 6px;
}

.section7Div2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

img.eligibilityImgMobile {
  display: none;
}

img#newsImg {
  width: 8%;
}

section.faq {
  background-color: #f4f4f4;
  width: 100%;
}

p#faqParagraph {
  font-size: 12px;
  margin: 2% 12%;
  color: #575757;
}

span#question {
  color: black;
  font-size: 21px;
  line-height: 32px;
  color: black;
  font-weight: 700;
}

p#answer {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #575757;
  margin: 0 12%;
}

.freeCounciling {
  background-color: #00abae;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.section7Div1 {
  color: white;
  margin: 2% 18% 6% 10%;
  display: -ms-grid;
  display: grid;
}

h1#section7H1 {
  font-size: 34px;
  margin: 0;
  text-align: left;
}

/********************** Footer ****************/
footer {
  background-color: #303030;
  color: white;
}

.footerIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  font-size: 12px;
  background-color: #303030;
  margin: 0 30px;
  padding: 40px 65px;
}

div#footerDiv1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

p#footerParagraph {
  font-size: 18px;
}

a#footerLink {
  color: white;
  text-decoration: none;
  margin: 5px 10px 5px;
  font-size: 18px;
  line-height: 50px;
}

a#footerLink1 {
  color: white;
  text-decoration: none;
  margin: 5px 10px 5px;
  font-size: 22px;
  line-height: 50px;
}

.footerDiv2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

img#footerImg {
  width: 25px;
  background: white;
  border-radius: 40px;
  margin: 10px;
}

.companyLogoMobile {
  display: none;
}

img.footerLogo {
  width: 12%;
  margin: 2px 5px 15px;
}

p#footerLast {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  width: 277px;
  height: 19px;
  padding: 2% 0 3% 0;
}

/***************** LArge Desktop : 1400px ****************/
@media screen and (max-width: 1400px) {
  h1#Heading1200 {
    font-size: 35px;
    margin: 0;
    text-align: left;
  }
  .section1Div2 {
    display: none;
  }
  button.check-availability {
    padding: 15px 25px;
    background-color: #00abae;
    border: 0;
    margin: 10px 0 10px 0;
  }
  button#questionsAnswer {
    width: 100%;
    padding: 10px;
  }
  div#playVedeoDiv {
    border: 3px solid #00abae;
    border-radius: 50%;
    padding: 3px 18px 5px 11px;
    height: 100%;
  }
  .section1Div1 {
    margin-top: 0px;
  }
  .section2Div1 {
    text-align: center;
    display: -ms-grid;
    display: grid;
    margin: auto;
  }
  .imgPreviewImage {
    width: 85%;
    margin: 80px 26px 0;
  }
  .section6Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
        grid-template-columns: repeat(5, 1fr);
  }
  .alumini {
    width: 75%;
  }
  .border1 {
    margin-top: 50px;
  }
}

/*************** Desktop : 1200px **************/
@media screen and (max-width: 1200px) {
  h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 56px;
    text-align: center;
    margin: 40px 0 50px;
  }
  .webDEv24\/7 {
    height: auto;
  }
  h1.firstHeading {
    margin-top: 15px;
    font-size: 35px;
    font-weight: bold;
  }
  .section6Div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  p.access.to.mentor {
    text-align: center;
  }
  .playvedeo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  img.image-previewmobile {
    display: block;
    width: 100%;
  }
  img.image-preview {
    width: 100%;
    display: none;
  }
  .internalDiv {
    width: 116px;
  }
  section.section1 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  div#playVedeoDiv {
    height: 100%;
    width: 37%;
    padding: 6px 66px 0px 13px;
  }
  .button {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 10% 3%;
  }
  .alumini {
    width: 75%;
    margin: 20% 0 0 0;
  }
  .section2Div1 {
    display: -ms-grid;
    display: grid;
  }
  img.imgPreview {
    width: 100%;
    margin: auto;
    position: relative;
    left: 4%;
    bottom: 4%;
  }
  .section4Div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  section.courses {
    display: -ms-grid;
    display: grid;
    font-size: 16px;
    width: 90%;
    margin: 5%;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .web {
    margin: 8%;
  }
  .web1 {
    margin: 0 20px 0 60px;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

/******* Tablet : 960px *******************/
@media screen and (max-width: 960px) {
  .company-Logo {
    display: none;
  }
  .companyLogoMobile {
    display: block;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    width: 100%;
    gap: 0 20px;
  }
  .section6Div {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    width: 60%;
  }
  .section4Div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  h1#advanced {
    font-size: 35px;
    padding: 10px;
  }
  p#about {
    text-align: center;
    padding: 0 30px;
  }
  .section6Div2,
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
  section.section3 {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .freeCounciling {
    display: -ms-grid;
    display: grid;
  }
  p#highSchool {
    color: #000000;
    text-align: initial;
    margin: 12px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 19px;
    line-height: 45px;
  }
  img.women {
    width: 80%;
  }
  h1#section7H1 {
    font-size: 35px;
    line-height: 56px;
  }
  p#section7Div1p {
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: justify;
    margin: 20px;
  }
  div#eligibility {
    display: -ms-grid;
    display: grid;
    -webkit-box-shadow: 0px 19px 33px #6f6d7157;
            box-shadow: 0px 19px 33px #6f6d7157;
    border-radius: 25px;
  }
  h1#aluminis {
    padding: 0;
    margin: 35px 20px 0;
  }
  img#eligibilityImg {
    width: 100%;
    display: block;
  }
  img.section3heroimg,
  img#eligibilityImgDesk {
    display: none;
  }
  img.section3heroimgmobile {
    display: block;
    width: 100%;
    margin: 15px;
  }
  img.section5HeroImg {
    width: 80%;
    margin: auto;
  }
  .section5DivTop2 {
    display: -ms-grid;
    display: grid;
  }
  img#newsImgcenter {
    margin-left: 92%;
    width: 100%;
  }
  .section5Div3 {
    display: -ms-grid;
    display: grid;
  }
  .topnav a {
    padding: 14px 15px;
  }
  .topnav a:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    -o-object-fit: contain;
       object-fit: contain;
    border-radius: 25px;
    border: 2px solid #0000004d;
    padding: 16px 20px;
    border-radius: 50%;
    height: 57px;
  }
  header {
    display: -webkit-box;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    border: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    background-color: white;
  }
  .image-preview {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  img#skillsneeded,
  img#alumini,
  img#newsImg {
    width: 80%;
  }
  .skills,
  .section6Div2,
  .section7Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
  p.access.to.mentor {
    font-size: 4vw;
    margin: 0;
  }
  .button {
    display: contents;
  }
  .company-logo {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr [];
    grid-template-columns: repeat(2, 1fr);
  }
  h2#heading2 {
    font-size: 4vw;
  }
}

/*********** Large-Phone: 800px *****************/
@media screen and (max-width: 800px) {
  h1.heading1 {
    font-weight: 900;
    font-size: 45px;
    line-height: 53px;
  }
  .playVedeo {
    display: -ms-grid;
    display: grid;
  }
  img.image-preview {
    display: none;
  }
  section.section1,
  .two {
    display: -ms-grid;
    display: grid;
  }
  img.image-previewmobile {
    display: block;
    width: 100%;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .section6Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  img#section4img {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  img.circle2 {
    margin-top: 30px;
    left: 75vw;
    width: 63px;
  }
  .section2Div2 {
    font-size: 15px;
    margin: 60px 30px 0px 0px;
    text-align: center;
  }
  .section6Div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  button.check-availabilityopposite {
    font-size: 10px;
    padding: 5px 5px;
    height: 42px;
    width: 184px;
    font-size: 12px;
  }
  img#skillsneeded,
  img#alumini {
    width: 70%;
    border: 1px solid whitesmoke;
    margin: auto;
  }
  .skills,
  .section6Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

/************** Small-Phone :600 **********/
@media screen and (max-width: 600px) {
  h1#highGrowth {
    text-align: left;
    font-size: 35px;
    margin: 24px;
  }
  p#section5Div5para {
    text-align: center;
    padding: 0;
  }
  p#namePara {
    padding: 20px;
    margin: 0;
  }
  p#highGrowthPara {
    margin: 24px;
    text-align: left;
  }
  .imgPreviewImage {
    border-bottom-left-radius: 70px;
  }
  .previewImg {
    border-bottom-left-radius: 80px;
  }
  header {
    margin: 20px 0 50px;
  }
  img.circleElement {
    display: none;
  }
  button.button1 {
    width: 150px;
    height: 50px;
    margin: 8px 12px 8px 12px;
  }
  img.company-img-star {
    width: 32%;
  }
  section.courses {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  img.company-img {
    width: 90px;
  }
  .alumini {
    width: 100%;
    margin-top: 20%;
  }
  li {
    margin: 35px 70px;
  }
  .skills {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section6Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .footerDiv2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  div#footerDiv1 {
    display: -ms-grid;
    display: grid;
  }
  img.footerLogo {
    width: 60%;
    margin: 20px 0;
  }
  img.freecouncilingMobile {
    display: block;
    width: 100%;
  }
  img.eligibilityImg {
    display: none;
  }
  img.eligibilityImgMobile {
    display: block;
  }
  .skills,
  .section6Div2 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    padding: 0;
  }
  a#studentlink {
    margin: auto;
    display: block;
    text-align: center;
  }
  img#studentportfolio {
    width: 100%;
    display: block;
    margin: auto;
  }
  .skills1 {
    width: 75%;
    margin: 0 auto 20px;
  }
  .section6Div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  .section5Div2 {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
  }
  .section5DivTop {
    display: -ms-grid;
    display: grid;
  }
  img#section5Img {
    width: 90%;
    margin: auto;
  }
  .section5Div1 {
    display: -ms-grid;
    display: grid;
  }
  .company-logo {
    width: 100%;
  }
  .section5paragraph2 {
    width: 100%;
  }
  button.learnMore {
    width: 195px;
  }
  .studyBorder {
    border-bottom-right-radius: 150px;
    width: 100%;
  }
  img.section5HeroImg {
    width: 100%;
  }
  .section5DivTop2 {
    display: -ms-grid;
    display: grid;
    margin: 15px;
  }
  .section6Div {
    width: 100%;
    padding: 0;
  }
  p#Insidesection5paragraph2 {
    margin-left: 0px;
  }
  h1#para11 {
    text-align: left;
    margin-left: 0px;
  }
  h2#heading2 {
    font-size: 7vw;
    margin: auto;
  }
  .two {
    display: -ms-grid;
    display: grid;
  }
  img.play-vedeo {
    width: 80%;
  }
  button.check-availability {
    font-size: 17px;
    line-height: 21px;
    margin: 5% auto;
    display: block;
    height: 57px;
    width: 284px;
  }
  p.access.to.mentor {
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
  }
  div#eligibility {
    margin: 30px;
  }
  p#aluminiP {
    text-align: center;
    padding: 27px;
    font-size: 18px;
  }
  .section2Div2 {
    margin: auto;
  }
  .section1Div2 {
    display: none;
  }
  section.section1 {
    display: -ms-grid;
    display: grid;
    margin: auto;
  }
  section.section2 {
    width: 100%;
  }
  .section3Div2 {
    display: none;
  }
  section.section4 {
    padding: 0px;
  }
  .section4Div1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
  div#AluminiImg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 4% 0% 0 14%;
  }
  img.logo {
    width: 160px;
    margin-left: 15px;
  }
  img.women {
    width: 360px;
    height: 440px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  h1#section7H1 {
    margin: 5%;
  }
  .section7Div1 {
    color: white;
    margin: 2%;
  }
  button.check-availabilityopposite {
    height: 55px;
    width: 300px;
    font-size: 18px;
    margin: 30px auto 35px;
  }
  h1 {
    margin: 0;
  }
  .section3Div1 {
    font-size: 18px;
    width: 100%;
    text-align: left;
  }
  .supportDiv {
    margin: 35px 24px;
  }
  .footer {
    padding: 0;
  }
  p#answer {
    margin: 0 12% 8%;
  }
  p#footerLast {
    padding: 15% 0 15% 0;
  }
  .divFooter {
    border: 1px solid;
    width: 47px;
    height: 47px;
    margin: 10px;
    border-radius: 50%;
    background: white;
  }
}

.primary-header {
  font-size: 32px;
  color: #4a4b4d;
}

.home-page {
  background-color: #ffd381;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 800px) {
  .home-page {
    background-color: #704b05;
  }
}

@media screen and (min-width: 1200px) {
  .home-page {
    background-color: green;
  }
}

@media screen and (min-width: 960px) {
  .home-page {
    background-color: #4d4da0;
  }
}

@media screen and (min-width: 1400px) {
  .home-page {
    background-color: #9e4c5a;
  }
}
/*# sourceMappingURL=styles.css.map */