//colors

$background-orange: #ffd381;
$bg-dark: rgb(112, 75, 5);
$bg-green: green;
$bg-blue: rgb(77, 77, 160);
$darkgrey: #4a4b4d;
$dark-pink: rgb(158, 76, 90);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$light-black: #101010bf;
$main-color: #00abae;
