$none: none;
$grid: grid;
$repeat-one: repeat(1, 1fr);
$repeat-two: repeat(2, 1fr);
$repeat-three: repeat(3, 1fr);
$zero: 0;
$card: 0px 19px 33px #6f6d7157;
$flex: flex;
$hundred: 100%;
$space-around: space-around;
$space-evenly: space-evenly;
$space-between: space-between;
