@import "../variables/variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $robota;
  left: 0;
}
img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}
body {
  font-family: $avenir;
  font-weight: normal;
  font-size: $medium-heading;
  background-color: $white;
}

header {
  display: $flex;
  justify-content: $space-between;
  margin: 20px;
}
.topnav {
  overflow: hidden;
  font-style: $normal;
}
img.logo {
  width: 200px;
  margin-left: 85px;
}

.topnav a {
  float: right;
  display: block;
  color: $black;
  text-align: center;
  padding: 14px 13px;
  text-decoration: $none;
  font-size: $small-heading;
  font-weight: $normal;
}

.topnav .icon {
  display: $none;
}

select#courses {
  border: $zero;
  font-size: $small-heading;
  font-weight: $semi-bold;
  color: $light-black;
  font-style: normal;
  background-color: $white;
}
img.image-preview {
  width: $hundred;
}
img.image-previewmobile {
  display: $none;
}
.button {
  display: $flex;
}

button.check-availability {
  padding: 15px 25px;
  background-color: $main-color;
  border: $zero;
  margin: 20px;
  color: $white;
  width: 324px;
  height: 69px;
  border-radius: 6px;
}
img.play-vedeo {
  width: 30%;
  height: 30%;
}
section.section1 {
  display: $flex;
  justify-content: $space-between;
  margin: 80px;
}
.section1Div2 {
  display: block;
}
h1.heading1 {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 900;
  font-size: 85px;
  line-height: 110px;
}
p.access.to.mentor {
  color: $main-color;
  margin: 15px;
}

img.client-logo {
  width: 45%;
}

.company-logo {
  display: $grid;
  grid-template-columns: $repeat-three;
  width: 50%;
}
button.button1 {
  border: 1px solid #e7e7e7;
  background-color: $white;
  border-radius: 10px;
  margin: 8px;
}
img.company-img {
  margin: 10px 4px 0px;
  width: 50%;
}

/*******************Section 2 ********************/

section.section2 {
  box-shadow: $card;
  transition: 0.3s;
  width: $hundred;
  background-color: #f1f1f1;
  border-radius: 59px 120px 0px 5px;
  margin-top: 40px;
}
.section2Div1 {
  display: $flex;
  justify-content: $space-around;
}
img.imgPreview {
  width: 40%;
}

.section2Div2 {
  font-size: 15px;
  margin: 170px 30px 0px 0px;
}
h1 {
  font-style: $normal;
  font-weight: $bold;
  font-size: $heading;
  line-height: $line-height;
  margin: 40px;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
p#questionsAnswer {
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 32px;
}
.two {
  display: $flex;
  justify-content: $space-around;
}
img.circle2 {
  position: relative;
  bottom: 30px;
  left: 80vw;
}
/*****************section 3******************/
section.section3 {
  display: $flex;
  justify-content: $space-between;
  margin: 35px;
}
.section3Div1 {
  font-size: $small-heading;
  margin: 40px;
}
img.section3heroimg {
  width: 90%;
}
img.section3heroimgmobile {
  display: $none;
}
.questions {
  border: 1px solid black;
  display: $flex;
  justify-content: $space-between;
  padding: 10px;
  margin: 10px;
}
img#plus {
  object-fit: contain;
}

/***********section4 *****************/
section.section4 {
  box-shadow: $card;
  transition: 0.3s;
  width: $hundred;
  background-color: #f1f1f1;
  border-top-left-radius: 100px;
  padding: 25px;
}

.section4Div1 {
  display: $flex;
  justify-content: $space-around;
}
img#section4img {
  width: 30%;
}
p#section4P {
  padding: 35px;
}
span#companyName {
  color: $main-color;
  font-weight: bold;
}
/****************** section 5 ******************/
.section5DivTop {
  display: $flex;
  justify-content: $space-evenly;
}
.section5Div1 {
  display: $flex;
  justify-content: $space-around;
}
img#section5Img {
  width: 50%;
}
h1#section5H1 {
  padding: 40px;
  font-size: 30px;
}
.section5Div2 {
  box-shadow: $card;
  transition: 0.3s;
  width: 44%;
  font-size: $small-heading;
  border: 1px solid #c7c7c7;
  border-radius: 20px;
}
div#section5Div3 {
  display: $flex;
}
.section5Div3 {
  display: $flex;
  margin: 30px;
}
img#userImg {
  width: $hundred;
}
div#section5Div5 {
  margin: 25px;
}
h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 130.5%;
}

p#namePara {
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #929c9e;
}
p#section5Div5para {
  font-weight: 400;
  font-size: 22px;
  line-height: 170%;
  color: #000000;
  padding: 10px 30px;
}
p#Insidesection5paragraph2 {
  font-size: 16px;
  line-height: 32px;
  color: #575757;
}

p#insideParagraph {
  color: gray;
}
.section5DivTop2 {
  display: $flex;
  justify-content: $space-around;
  margin: 50px;
}
img.section5HeroImg {
  width: 50%;
}
.section5paragraph2 {
  font-size: 15px;
  margin: 30px;
}
span#headingInsidepara {
  font-size: $small-heading;
  font-weight: 500;
}
p#discription {
  margin: 20px;
}
.webDEv {
  box-shadow: $card;
  background-color: #351515;
  border-radius: 20px;
}
ul.webDev {
  list-style-type: none;
}
li {
  text-align: left;
  margin: 30px 115px;
}

.border {
  position: relative;
  top: 0;
  left: 0;
}
.image11 {
  position: relative;
  top: 60px;
  left: 0;
  border: 1px #5bc3ca solid;
  height: 830px;
  width: 90vh;
  border-radius: 20px;
}
// .image12 {
//   position: absolute;
//   top: 30px;
//   left: 30px;
//   width: 105vh;
// }
.border1 {
  position: relative;
  top: 0;
  left: 0;
}

.image13 {
  position: relative;
  top: 60px;
  left: 140px;
  border: 1px #5bc3ca solid;
  border-radius: 20px;
  height: 830px;
  width: 90vh;
}

.image14 {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 105vh;
}
// section.courses {
//   display: flex;
//   justify-content: flex-start;
//   margin: 50px;
//   font-size: 16px;
// }

button.learnMore {
  padding: 10px 20px;
  background-color: #00abae;
  border: 0;
  margin: 8px 0px 30px;
  color: white;
}
/*******************section 6 **************************/
.section6Div1 {
  display: $flex;
  justify-content: $space-around;
}
img#studentportfolio {
  width: $hundred;
  object-fit: revert;
}
a#studentlink {
  margin: 100px;
  font-weight: 500;
  font-size: 19px;
  line-height: 32px;
  color: #575757;
  text-decoration: none;
}
.skills {
  box-shadow: $card;
  width: 100%;
  margin: 20px;
  /* background-color: #fafafa; */
  display: flex;
}
.skills1 {
  margin: 20px;
  background-color: #fafafa;
  padding: 20px;
}

img#skillsneeded {
  width: 100%;
}
p#about {
  margin: 20px;
}
span#color {
  color: $main-color;
}
.section6Div2 {
  display: $flex;
  justify-content: $space-around;
}
img#alumini {
  width: 18%;
  border: 1px solid $smokey-white;
  margin: auto;
}
img.eligibilityImg {
  width: 80%;
}
img.freecounciling {
  width: $hundred;
}
.alumini {
  box-shadow: $card;
  width: 16%;
}
h2#aluminiName {
  font-weight: 700;
  font-size: 25px;
  line-height: 27px;
  text-align: center;
  color: #00abae;
  margin: 10px;
}
p#job {
  font-size: 13px;
  line-height: 27px;
  text-align: center;
  color: #575757;
}
img#alumini1 {
  width: 100%;
  border: 14px solid #00abae;
  border-radius: 50%;
}
div#AluminiImg {
  display: flex;
}
img#logo {
  width: 70px;
  height: 80px;
  position: relative;
  right: 25px;
}
/***************** Section 7 **************/
img.freecouncilingMobile {
  display: $none;
}

p#section7Div1p {
  font-weight: 500;
  font-size: 21px;
  line-height: 32px;
  text-align: justify;
  margin: 10px;
}

p#section7P {
  font-size: 1vw;
}
p#highSchool {
  font-weight: 500;
  font-size: 28px;
  line-height: 63px;
  color: #000000;
  text-align: initial;
  margin: 100px 0px 0px 0px;
}
div#eligibility {
  background-color: #f4f4f4;
  display: flex;
  justify-content: space-around;
}
img#eligibilityImg {
  width: 35%;
  display: none;
}
img#eligibilityImgDesk {
  width: 35%;
}
button.check-availabilityopposite {
  background-color: $white;
  color: $main-color;
  border: $zero;
  width: 270px;
  height: 69px;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  margin: 10px;
}
.section7Div2 {
  display: $flex;
  justify-content: $space-around;
  padding: 30px;
}
img.eligibilityImgMobile {
  display: $none;
}
img#newsImg {
  width: 8%;
}
section.faq {
  background-color: #f4f4f4;
  width: $hundred;
}
p#faqParagraph {
  font-size: 12px;
  margin: 2% 12%;
  color: #575757;
}
span#question {
  color: black;
  font-size: 21px;
  line-height: 32px;
  color: black;
  font-weight: 700;
}
p#answer {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #575757;
  margin: 60px;
}
.freeCounciling {
  background-color: #00abae;
  display: flex;
  justify-content: space-evenly;
}
.section7Div1 {
  margin: 70px;
  color: white;
}
h1#section7H1 {
  font-size: 39px;
  margin: 10px;
}
/********************** Footer ****************/
footer {
  background-color: black;
  color: $white;
}

.footer {
  font-size: 12px;
  background-color: black;
  margin: 0 30px;
}
div#footerDiv1 {
  display: $flex;
  justify-content: $space-between;
}
p#footerParagraph {
  font-size: $small-heading;
}

a#footerLink {
  color: $white;
  text-decoration: $none;
  margin: 5px 10px 5px;
  font-size: $small-heading;
}
.footerDiv2 {
  display: $grid;
  grid-template-columns: $repeat-two;
}
img#footerImg {
  margin: 10px;
  width: 50px;
}

img.footerLogo {
  width: 12%;
  margin: 2px 5px 15px;
}
/***************** LArge Desktop : 1400px ****************/
@media screen and (max-width: $desktop-large) {
  .border {
    margin: 30px;
  }

  .border1 {
    margin-top: 50px;
  }
  // section.courses {
  //   display: grid;
  //   margin: auto 16% 10%;
  //   grid-template-columns: repeat(1, 1fr);
  // }
}

/*************** Desktop : 1200px **************/
@media screen and (max-width: $desktop) {
  .skills {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .section6Div2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .alumini {
    width: 100%;
    padding: 12px;
  }
}
/******* Tablet : 960px *******************/
@media screen and (max-width: $tablet) {
  .section6Div2,
  .skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 95%;
  }
  // section.courses {
  //   display: grid;
  //   grid-template-columns: repeat(1, 1fr);
  // }
  section.section3 {
    display: $grid;
  }
  .freeCounciling {
    display: $grid;
    margin: 60px;
  }

  img.women {
    width: 90%;
  }
  h1#section7H1 {
    font-size: 35px;
    line-height: 56px;
  }
  p#section7Div1p {
    font-weight: 500;
    font-size: 21px;
    line-height: 32px;
    text-align: justify;
  }
  div#eligibility {
    display: grid;
    box-shadow: $card;
    border-radius: 25px;
    margin: 60px;
  }
  img#eligibilityImg {
    width: 100%;
    display: block;
  }
  img.section3heroimg,
  img#eligibilityImgDesk {
    display: $none;
  }
  img.section3heroimgmobile {
    display: block;
    width: $hundred;
  }
  img.section5HeroImg {
    width: 80%;
    margin: auto;
  }

  .section5DivTop2 {
    display: $grid;
  }
  img#newsImgcenter {
    margin-left: 92%;
    width: $hundred;
  }
  .section5Div3 {
    display: $grid;
  }
  .topnav a {
    padding: 14px 15px;
  }
  .topnav a:not(:first-child) {
    display: $none;
  }
  .topnav a.icon {
    float: right;
    display: block;
    object-fit: contain;
    border-radius: 25px;
    border: 1px solid;
  }

  header {
    display: -webkit-box;
  }
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: $zero;
    top: $zero;
  }
  .topnav.responsive a {
    float: $none;
    display: block;
    text-align: left;
    background-color: $white;
  }
  .image-preview {
    display: $flex;
  }
  img#skillsneeded,
  img#alumini,
  img#newsImg {
    width: 80%;
  }
  .skills,
  .section6Div2,
  .section7Div2 {
    display: $grid;
    grid-template-columns: $repeat-three;
  }
  h1.heading1 {
    font-size: 4vw;
  }
  p.access.to.mentor {
    font-size: 2vw;
  }
  .button {
    display: contents;
  }
  .company-logo {
    display: $grid;
    -ms-grid-columns: (1fr) [];
    grid-template-columns: $repeat-two;
  }

  h2#heading2 {
    font-size: 4vw;
  }
}
/*********** Large-Phone: 800px *****************/
@media screen and (max-width: $large-phone) {
  .skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .section6Div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  img#section4img {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
  }
  .section4Div1 {
    display: $grid;
    grid-template-columns: $repeat-two;
  }
  img.circle2 {
    display: $none;
  }
  .section2Div1 {
    display: $grid;
  }
  img.imgPreview {
    width: 90%;
    margin: auto;
  }
  .section2Div2 {
    font-size: 15px;
    margin: 60px 30px 0px 0px;
    text-align: center;
  }
  .section6Div1 {
    display: $grid;
    grid-template-columns: $repeat-one;
  }
  button.check-availabilityopposite {
    font-size: 10px;
    padding: 5px 5px;
    height: 42px;
    width: 220px;
  }

  img.section5HeroImg {
    margin: auto;
  }

  img#skillsneeded,
  img#alumini {
    width: 70%;
    border: 1px solid whitesmoke;
    margin: auto;
  }
  .skills,
  .section6Div2 {
    display: $grid;
    grid-template-columns: $repeat-two;
  }
}

/************** Small-Phone : **********/
@media screen and (max-width: $small-phone) {
  .skills {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .section6Div2 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footerDiv2 {
    display: $grid;
    grid-template-columns: $repeat-one;
  }
  div#footerDiv1 {
    display: $grid;
  }
  img.footerLogo {
    width: 40%;
  }
  img.freecouncilingMobile {
    display: block;
    width: $hundred;
  }

  img.eligibilityImg {
    display: $none;
  }
  img.eligibilityImgMobile {
    display: block;
  }
  .skills,
  .section6Div2 {
    display: $grid;
    grid-template-columns: $repeat-one;
  }
  a#studentlink {
    margin: auto;
    display: block;
    text-align: center;
  }
  img#studentportfolio {
    width: 70%;
    display: block;
    margin: auto;
  }
  .section6Div1 {
    display: $grid;
    grid-template-columns: $repeat-one;
  }
  .section5Div2 {
    width: 90%;
    margin: auto;
  }
  .section5DivTop {
    display: $grid;
  }
  img#section5Img {
    width: 90%;
    margin: auto;
  }
  .section5Div1 {
    display: $grid;
  }
  .company-logo {
    width: $hundred;
  }
  h2#heading2 {
    font-size: 7vw;
    margin: auto;
  }
  .two {
    display: $grid;
  }
  img.play-vedeo {
    width: 80%;
  }
  button.check-availability {
    padding: 25px 40px;
  }
  p.access.to.mentor {
    font-size: 3vw;
    margin: $zero;
  }
  h1.heading1 {
    font-size: 10vw;
  }
  img.image-previewmobile {
    display: block;
    width: $hundred;
  }
  .section2Div2 {
    margin: auto;
  }
  .section1Div2 {
    display: $none;
  }
  section.section1 {
    display: $grid;
  }
  .section3Div2 {
    display: $none;
  }
  .section4Div1 {
    display: $grid;
    grid-template-columns: $repeat-one;
  }
  img.logo {
    width: 160px;
    margin-left: $zero;
  }
}
/**********changes done *******************/

.web {
  width: 75%;
  /* background-color: black; */
  border: 5px solid blue;
  margin-top: 1%;
  position: relative;
  margin: 8%;
}
.web1 {
  width: 75%;
  /* background-color: black; */
  border: 5px solid blue;
  margin-top: 1%;
  position: relative;
  margin-left: 25%;
  margin: 18.5%;
}
.image12 {
  width: 100%;
  margin-left: 15%;
  /* margin-bottom: 7%; */
  position: relative;
  bottom: 4%;
}
.image121 {
  width: 100%;
  right: 15%;
  /* margin-bottom: 7%; */
  position: relative;
  bottom: 4%;
  margin-right: 15%;
  float: right;
}
section.courses {
  display: grid;
  font-size: 16px;
  width: 90%;
  margin: 5%;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (max-width: 950px) {
  section.courses {
    display: grid;
    font-size: 16px;
    width: 90%;
    margin: 5%;
    grid-template-columns: repeat(1, 1fr);
  }
}
